streamlit==0.69.2
Unidecode==1.1.1
pt_core_news_sm==2.3.0
matplotlib==3.3.2
numpy==1.19.2
spacy==2.3.2
pandas==1.1.3
nltk==3.5
requests==2.24.0
beautifulsoup4==4.9.3
scikit_learn==0.23.2
strsimpy==0.1.9
